		.go_back {
    width: auto;
    padding: 3px 10px;
    background: #800080;
    border: none;
    outline: none;
    height: 30px;
    line-height: 0;
    color: #ffffff;
    float: right;
    margin-top: 5px;
    border-radius: 3px;
    position: absolute;
    right: 180px;
		}
		.go_back i {
    margin-right: 5px;
}